.petCard {
  text-align: center;
  width: 16rem;
  height: 25rem;
  margin-bottom: 5rem;
  color: black;
  border-radius: 15px !important;
}

.Pet a {
  text-decoration: none;
}
/* width: '16rem', height: '25rem', marginBottom:'5rem' */

.petCard:hover {
  border-width: 1px;
  border-color: rgb(193, 162, 223);
}

.card-img,
.card-img-top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.titleText {
  color: blueviolet;
}

.descText {
  color: rgb(30, 9, 51);
}
