.main {
  background-image: url(../images/banner_gray.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 50px;
  height: 450px;
  position: relative;
}

.slogan {
  font-size: 4.5vw;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 4px #755491;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

.search-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 51rem;
  max-width: 70%;
}

/* .searchBar {
  height: 4rem;
} */

.searchBar .form-control {
  height: 4rem;
  min-width: 13rem !important;
  margin-right: 0;
}

.searchBar button {
  /* margin-left: 0;
  height: 4rem; */
  width: 6rem;
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bolder;
  background-color: rgb(193, 162, 223);
  border-color: white;
}

@media only screen and (max-width: 710px) {
  .searchBar button {
    width: 100%;
  }
  .searchBar .form-control,
  .searchBar button {
    border-radius: 5px !important;
  }
}

.searchBar button:hover {
  background-color: rgb(137, 108, 163);
}

.search-container .row {
  --bs-gutter-x: 0 !important;
}

a {
  text-decoration: none !important;
}
