.Description {
  position: absolute;
  left: 50%;
  top: 200%;
  transform: translate(-50%, -50%);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  /* margin-top: 3rem; */
  height: 25rem;
  border-radius: 10px;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.description-container .card {
  width: 30rem;
}
